<h2 class="student_header_name">
  Editing lesson for: <%= display_name(@student) %>

  <form class="delete" action="/students/<%= @student[:student_id] %>/lesson/<%= params[:lesson_id] %>/destroy" method="post">
    <button type="submit" class="delete">Delete Lesson</button>
  </form>
</h2>

<form action="/students/<%= @student[:student_id] %>/lesson/<%= params[:lesson_id] %>" method="post">
  <dl>
    <dt><label for="date">Enter the date:</label></dt>
    <dd><input type="date" name="date" required pattern="\d{4}-\d{2}-\d{2}" value="<%= params[:date] || @lesson[:date] %>"></dd>

    <dt><label for="start_time">Enter the start time:</label></dt>
    <dd><input id="start_time" type="time" name="start_time" value="<%= params[:start_time] || @lesson[:start_time] %>"/></dd>

    <dt><label for="end_time">Enter the end time:</label></dt>
    <dd><input id="end_time" type="time" name="end_time" value="<%= params[:end_time] || @lesson[:end_time] %>"/></dd>
  </dl>

  <input type="submit" value="Save">
  <a href="/students/<%= @student[:student_id] %>"><button type="button">Cancel</button></a>
</form>
