<h2 class="student_header_name">
  Editing: <%= display_name(@student) %>

  <form class="delete" action="/students/<%= @student[:student_id] %>/destroy" method="post">
    <button type="submit" class="delete">Delete Student</button>
  </form>
</h2>

<form action="/students/<%= @student[:student_id] %>/edit" method="post">
  <dl>
    <dt><label for="first_name">First Name:</label></dt>
    <dd><input type="text" name="first_name" id="first_name" value="<%= params[:first_name] || @student[:first_name] %>"></dd>

    <dt><label for="last_name">Last Name:</label></dt>
    <dd><input type="text" name="last_name" id="last_name" value="<%= params[:last_name] || @student[:last_name] %>"></dd>

    <dt><label for="instrument">Instrument:</label></dt>
    <dd><input type="text" name="instrument" id="instrument" value="<%= params[:instrument] || @student[:instrument] %>"></dd>
  </dl>

  <input type="submit" value="Save">
  <a href="/students"><button type="button">Cancel</button></a>
</form>
